[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
psycopg2-binary = "*"
cloudinary = "*"
requests-oauthlib = "*"
authlib = "*"
virtualenv = "*"
werkzeug = "*"
flask = "*"
flask-sqlalchemy = "*"
flask-jwt-extended = "*"
flask-migrate = "*"
flask-cors = "*"
flask-mail = "*"
pytest = "*"
python-dotenv = "*"
email-validator = "*"
flask-dance = "*"
flask-login = "*"
itsdangerous = "==2.0.1"

[dev-packages]

[requires]
python_version = "3.8"
